<div id="<%= dom_id article %>">
  <p>
    <strong>Titulo:</strong>
    <%= article.titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= article.autor %>
  </p>

  <p>
    <strong>Resumo:</strong>
    <%= article.resumo %>
  </p>

  <p>
    <strong>Universidade:</strong>
    <%= article.universidade %>
  </p>

</div>
